/* @media screen and (min-width: 768px) {
  .Page-container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
  }
} */

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.Page-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (max-width: 767px) {
  .navigation {
    margin-top: 16px;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .nav-links {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }

  .nav-links a {
    font-size: 16px;
    padding: 8px 0;
  }

  .nav-btn {
    padding: 12px 20px;
    font-size: 16px;
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .Hero-section {
    flex-direction: column;
    margin-top: 32px;
    gap: 32px;
  }

  .hero-header {
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 16px;
  }

  .hero-body {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 24px;
  }

  .hero-buttons {
    flex-direction: column;
    gap: 12px;
    margin-bottom: 32px;
    align-items: center;
  }
}

body {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100 - 900;
  font-style: normal;
}

.navigation {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 12px 12px;
  border: 1px solid #e8e8e8;
  border-radius: 12px;
  margin-left: 20%;
  margin-right: 20%;
}

.nav-links {
  text-decoration: none;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #606060;
  font-size: 14px;
}

.nav-btn {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background-color: #131313;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.Hero-section {
  display: flex;
  margin-top: 88px;
}

.hero-header {
  font-size: 40px;
  line-height: 55px;
  font-weight: 400;
  margin-bottom: 8px;
  color: #131313;
}

.hero-body {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 8px;
}

.secondary-btn {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #dedede;
  background-color: #ffffff;
  color: #131313;
  font-size: 14px;
  font-weight: 400;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.hero-buttons {
  display: flex;
  gap: 16px;
  margin-bottom: 50%;
}

.tools-img {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.aws,
.cloud {
  padding: 8px 16px;
  border: 1px solid #dedede;
  border-radius: 90px;
}

.One {
  padding-top: 4px;
}

.mini-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #131313;
}

.complexity-section {
  padding: 64px 64px;
  /* width: 100%; */
  background-color: #f5f5f5;
  margin-top: 64px;
  border-radius: 8px;
  border: 1px solid #e8e8e8;
}

.complexity-section-header {
  font-size: 40px;
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 16px;
  text-align: center;
}

.section-title {
  padding: 8px 12px;
  width: 160px;
  /* background-color: white; */
  border: 1px solid #e8e8e8;
  text-align: center;
  border-radius: 90px;
  color: #484848;
}

.outter {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.complexity-cards {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.card {
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #dedede;
}

.card-header {
  font-size: px;
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 8px;
}

.card-body {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #606060;
  margin-bottom: 8px;
}

.Developer-friendly {
  padding: 64px 64px;
  background-color: #1f1f1f;
  margin-top: 64px;
  border-radius: 12px 12px 24px 24px;
  padding-bottom: 108px;
  border: 1px solid #1f1f1f;
}

.complexity-section-title {
  font-size: 14px;
  color: #131313;
  font-weight: 400;
  background-color: transparent;
  padding: 12px 12px;
  margin-bottom: 16px;
  width: 120px;
  border-radius: 90px;
  border: 1px solid #484848;
  text-align: center;
}

.section-title {
  font-size: 14px;
  color: white;
  font-weight: 400;
  background-color: transparent;
  padding: 12px 12px;
  margin-bottom: 16px;
  width: 120px;
  border: 1px solid #484848;
}

.section-header {
  font-size: 40px;
  color: white;
  font-weight: 400;
  margin-bottom: 16px;
}

.section-body {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: white;
  margin-bottom: 16px;
}

.section-button {
  background-color: white;
  color: #131313;
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  width: 160px;
  text-align: center;
}

.top-part {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 16px;
  padding-left: 10px;
}

.first-card {
  border: 1px solid #484848;
  background-color: #262626;
  border-radius: 8px;
  padding: 24px;
  width: 50%;
  margin-top: 24px;
}

.card-headerr {
  font-size: 16px;
  font-weight: 400;
  color: white;
  margin-bottom: 8px;
  text-align: center;
  margin-top: 16px;
}

.card-bodyy {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: white;
  margin-bottom: 8px;
  text-align: center;
}

.second-card {
  border: 1px solid #484848;
  background-color: #262626;
  border-radius: 8px;
  padding: 24px;
  width: 40%;
  margin-top: 24px;
}

.bottom-part {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 16px;
  padding-left: 10px;
}

.third-card {
  border: 1px solid #484848;
  background-color: #262626;
  border-radius: 8px;
  padding: 24px;
  width: 40%;
  margin-top: 24px;
}

.fourth-card {
  border: 1px solid #484848;
  background-color: #262626;
  border-radius: 8px;
  padding: 24px;
  width: 50%;
  margin-top: 24px;
}

.card-imagee1 {
  overflow: hidden;
  padding-left: 24px;
}

.flexible-sec {
  margin-top: 80px;
}

.firstcard {
  padding: 24px;
  background-color: #262626;
  border: 1px solid #484848;
  border-radius: 8px;
  flex: 1;
  min-width: 0;
}

.section-cards {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 40px;
}

.build-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.build-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
  color: white;
}

.Build-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
  color: #a1a1a1;
}

.Trouble-shoot {
  margin-top: 64px;
}

.trouble-header {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
  margin-top: 16px;
  color: white;
}

.trouble-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
  color: #a1a1a1;
}

.trouble-card1 {
  padding: 24px;
  background-color: #262626;
  border: 1px solid #484848;
  border-radius: 8px;
}

.trouble-cards {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 24px;
  margin-top: 40px;
}

.platform-section {
  margin-top: 64px;
}

.platform-header {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  color: #131313;
  margin-bottom: 16px;
}

.platform-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px 12px;
  background-color: #f1f1f1;
  border-radius: 8px;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 24px;
  border: 1px solid #e8e8e8;
}

.product-team {
  padding: 8px 12px;
  background-color: white;
  color: #3e3e3e;
  border-radius: 4px;
}

.devops,
.Engineering {
  color: #8d8d8d;
}

.check-header {
  font-size: 16px;
  font-weight: 400;
  color: #494949;
  margin-top: 8px;
  margin-bottom: 8px;
}

.check-body {
  font-size: 14px;
  font-weight: 300;
  color: #606060;
  margin-bottom: 8px;
}

.check1 {
  padding: 24px;
  border: 1px solid #e7e7e7;
  background-color: white;
  border-radius: 8px;
}

.checks-section {
  display: flex;
  flex: 1;
  gap: 24px;
  margin-bottom: 40px;
}

.quick-spin {
  margin: 108px 0;
}

.quickspin-tit {
  font-size: 40px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 16px;
}

.leftcta {
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  border-radius: 8px 0px 0px 8px;
  padding: 24px;
  width: 100%;
}

.rightcta {
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  border-radius: 0px 8px 8px 0px;
  padding: 24px;
  width: 100%;
}

.finalcta {
  display: flex;
  margin-top: 24px;
}

.cta-header {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
}

.cta-body {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 8px;
}

.joincom {
  margin: 64px 0;
  background-color: #252525;
  border-radius: 16px;
  border: 1px solid #484848;
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  flex-direction: column;
  align-content: center;
}

.joinhead {
  font-size: 40px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
  color: white;
  text-align: center;
  padding-bottom: 16px;
}

.joinbuttons {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.slackbtn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  background-color: white;
  border-radius: 8px;
}

.gitbutton {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #484848;
  color: white;
}

.joinright {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  padding: 24px;
  width: 100%;
}

.rightimage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
